/*Grid*/
main{
    display: grid;
    grid-template-areas:    "h h h"
                            "n n n"
                            "a a as"
                            "f f f";
    grid-template-columns: 1fr 2fr 1fr;
}

header{
    grid-area: h;
}

nav{
    grid-area: n;
}

article{
    grid-area: a;
}

aside{
    grid-area: as;
}

footer{
    grid-area: f;
}
/*Grid vége*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /*color: rgb(249, 0, 39);*/
    color: rgb(9, 219, 132);
}

main{
    width: 100%;
    margin: auto;
}

header{
    background-image: url(kepek/fejlec.jpeg);
    background-position: top, bottom;
    background-size: cover;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 350px;
}

#cvkep{
    position: relative;
    left: calc(50% - 130px);
    text-align: center;
    border-radius: 55%;
    width: 250px;
    margin: 0;
    padding: 0;
    background-color: rgb(58, 0, 9);
}

nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
    padding-bottom: 0;
}

nav li{
    text-align: center;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    font-family: cursive;
    font-size: 26px;
    font-weight: bold;
    color: rgb(0, 176, 91);
    text-align: center;
}

nav{
    background-color: rgba(7, 202, 20, 0.178);
    padding: 5px;
    margin-top: 0;
}

article, aside, footer{
    padding: 15px;
    font-size: 18px;
}

a, footer{
    text-align: center;
}

h1, h2{
    text-align: center;
}

p{
    text-align: justify;
}

/*Galéria*/
#kepek div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#kepek img{
    width: 250px;
    height: 200px;
}

#kepek img:hover{
    resize: 50%;
}

/*Reszponzivitás*/

@media screen and (max-width: 600px) {
    *{
        font-size: 4vw;
    }

    main{
        grid-template-areas:    "h h"
                                "n n"
                                "a a"
                                "as as"
                                "f f";
        grid-template-columns: 1fr;
        width: auto;
    }

    nav li{
        text-align: left;
    }

    nav a{
        font-size: 2vw;
    }

    #kepek div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #kepek img{
        width: 100%;
    }

    iframe{
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    *{
        font-size: 6vw;
    }
    main{
        grid-template-areas:    "h"
                                "n"
                                "a"
                                "as"
                                "f";
        grid-template-columns: 1fr;
    }

    h1, h2{
        text-align: center;
    }

    nav a{
        font-size: 6vw;
    }

    nav li{
        text-align: left;
    }

    nav ul{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }

    #kepek div{
        display: grid;
        grid-template-columns: 1fr;
    }

    #kepek img{
        width: 100%;
    }

    iframe{
        width: auto;
    }
}